{% extends "base.html" %}


{% block content %}
<form action='.' method="POST"> {% csrf_token %}
	
	{{ form.as_p }}
	<input type = "submit" value = "Save" />

</form>

{% endblock %}

<!-- 2 <form action='.' method="post"> {% csrf_token %}
	
	<input type="text" name="title" placeholder="your_title" />
	<input type = "submit" value = "Save" />

</form> -->

<!-- 1 -->
<!-- <form action = "http://www.google.con/search" method="get">  get is a default method
	
	<input type="text" name="title" placeholder="your_title" />
	<input type = "submit" value = "Save" />

</form> -->

<!-- post to send
get to go to -->